{% extends "user_authentication/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fitness_home.css' %}">
{% endblock %}

{% block title %}
    Fitness Logging Tracker - Home
{% endblock %}

{% block heading %}
    Fitness Logging Tracker
{% endblock %}

{% block content %}
    <div class="container">
        <a class="nav-link" href="{% url 'workout_management:workout_view' %}">Home</a>
        <form class="workout-logging" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            <div class="form-group button-group">
                <button type="submit">Log Workout</button>
            </div>
        </form>
{%endblock%}