.banner {
  text-align: center;
  margin-bottom: 20px;
}

.banner-image {
  max-width: 100%;
}

.signup-heading {
  text-align: center;
  color: #333;
}

.signup-form {
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-signup {
    border: none;
    background-color: #2874d2;
    color: #fff;
    font-size: medium;
}

.btn-signup:hover {
    background-color: #2986ea;
}

.btn-login {
    border: none;
    background-color: #353a41;
    color: #fff;
    text-decoration: none;
    font-size: medium;
}

.btn-login:hover {
    background-color: #f0f0f0;
}
.button-group{
  display:block; 
  text-align: center;
}

.status-message {
  text-align: center;
  color: #333;
  margin-top: 20px;
}
